In [1]:
import os
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option("display.max_columns", 200)
pd.set_option("display.width", 160)

In [14]:
INTERVAL = "5m"  # "1m", "5m", "10m"

paths = {
    "1m":  f"../data/gold/power_load_1m_all_features.parquet",
    "5m":  f"../data/gold/power_load_5m_all_features.parquet",
    "10m": f"../data/gold/power_load_10m_all_features.parquet",
}

path = paths[INTERVAL]

df = pd.read_parquet(path)
df["timestamp"] = pd.to_datetime(df["timestamp"])
df = df.sort_values("timestamp").reset_index(drop=True)

print("Loaded:", path)
print("Shape:", df.shape)
display(df.head())
display(df.tail())

Loaded: ../data/gold/power_load_5m_all_features.parquet
Shape: (8928, 29)

,timestamp,avg_load,year,quarter,month,day,hour,day_of_week,season,time_of_day,is_workday,power_1m,power_2m,power_3m,power_4m,power_5m,power_10m,power_15m,power_20m,power_25m,power_30m,power_1d,power_2d,power_3d,power_4d,power_5d,power_7d,power_14d,power_21d
0,2025-11-28 00:00:00,1912.553333,2025,4,11,28,0,5,4,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-11-28 00:05:00,1191.273333,2025,4,11,28,0,5,4,3,1,NaN,NaN,NaN,NaN,1912.553333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-11-28 00:10:00,1133.120000,2025,4,11,28,0,5,4,3,1,NaN,NaN,NaN,NaN,1191.273333,1912.553333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-11-28 00:15:00,1116.050000,2025,4,11,28,0,5,4,3,1,NaN,NaN,NaN,NaN,1133.120000,1191.273333,1912.553333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-11-28 00:20:00,1693.080000,2025,4,11,28,0,5,4,3,1,NaN,NaN,NaN,NaN,1116.050000,1133.120000,1191.273333,1912.553333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,timestamp,avg_load,year,quarter,month,day,hour,day_of_week,season,time_of_day,is_workday,power_1m,power_2m,power_3m,power_4m,power_5m,power_10m,power_15m,power_20m,power_25m,power_30m,power_1d,power_2d,power_3d,power_4d,power_5d,power_7d,power_14d,power_21d
8923,2025-12-28 23:35:00,1928.620000,2025,4,12,28,23,0,1,3,0,NaN,NaN,NaN,NaN,1762.063333,2387.643333,2138.303333,2851.016667,1996.773333,1825.826667,1275.183333,2278.056667,3025.190000,1552.220000,2272.183333,1654.520000,2366.943333,945.743333
8924,2025-12-28 23:40:00,2213.136667,2025,4,12,28,23,0,1,3,0,NaN,NaN,NaN,NaN,1928.620000,1762.063333,2387.643333,2138.303333,2851.016667,1996.773333,923.303333,2707.303333,2228.610000,1122.556667,1653.066667,1501.653333,2876.400000,790.783333
8925,2025-12-28 23:45:00,1688.153333,2025,4,12,28,23,0,1,3,0,NaN,NaN,NaN,NaN,2213.136667,1928.620000,1762.063333,2387.643333,2138.303333,2851.016667,610.983333,2650.846667,2614.743333,758.736667,1759.876667,2120.156667,4297.416667,1645.036667
8926,2025-12-28 23:50:00,1619.776667,2025,4,12,28,23,0,1,3,0,NaN,NaN,NaN,NaN,1688.153333,2213.136667,1928.620000,1762.063333,2387.643333,2138.303333,444.636667,2098.206667,2096.570000,887.636667,2176.420000,1858.403333,3915.143333,1458.246667
8927,2025-12-28 23:55:00,1454.910000,2025,4,12,28,23,0,1,3,0,NaN,NaN,NaN,NaN,1619.776667,1688.153333,2213.136667,1928.620000,1762.063333,2387.643333,696.963333,2284.846667,1985.046667,1905.956667,2930.536667,1655.780000,2445.346667,1549.113333

In [13]:
df.dtypes

timestamp      datetime64[ns]
avg_load              float64
year                    int32
quarter                 int32
month                   int32
day                     int32
hour                    int32
day_of_week             int32
season                   int8
time_of_day              int8
is_workday               int8
power_1m              float64
power_2m              float64
power_3m              float64
power_4m              float64
power_5m              float64
power_10m             float64
power_15m             float64
power_20m             float64
power_25m             float64
power_30m             float64
power_1d              float64
power_2d              float64
power_3d              float64
power_4d              float64
power_5d              float64
power_7d              float64
power_14d             float64
power_21d             float64
dtype: object